{{- define "main" -}}

<!-- Tag Title -->
{{- if .Title -}}
<h1 class="mb-14">#{{- .Title -}}</h1>
{{- end -}}

<!-- List all articles with this tag -->
{{- $pages := .Pages.ByDate.Reverse -}}

{{- range $index, $page := $pages -}}
<section class="relative my-10 first-of-type:mt-0 last-of-type:mb-0">
  {{- if gt .Weight 0 -}}
  <span class="mb-1 inline-block text-xs tracking-wider text-orange-500"
    >Featured</span
  >
  {{- end -}}
  <h2 class="my-0!">{{- .Title -}}</h2>
  <small>{{- .Params.Description -}}</small>
  <time class="text-xs antialiased opacity-60"
    >{{- .Date | time.Format ":date_medium" -}}</time
  >
  <a class="absolute inset-0 text-[0px]" href="{{- .Permalink -}}"
    >{{- .Title -}}</a
  >
</section>
{{- end -}}

{{- end -}}