<article class="post">
    <li>
      <header class="post-header">
        <h2 class="post-title"><a class="post-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        <div class="post-meta">
          <time class="small" datetime='{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}'>{{ .Date.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</time>
          
        </div>
      </header>
      <div class="post-content">
        <div class="post-summary">
          {{ .Params.description }}
        </div>
        <div class="post-link">
          <a href="{{ .RelPermalink }}" class="read-more-link"> Read More » </a>
        </div>
      </div>
    </li>
  </article>
