
<footer class="site-footer">
    <div class="container">
        <div class="site-footer__col">
        <h5>Get in touch</h5>
        <p>
            If you like my project or have some questions,feel free
            to contact me</a>.
        </p>
        </div>
        <div class="site-footer__col site-footer__col--links">
        <h5>Me Elsewhere</h5>
        <ul>
        {{ range $item := .Site.Params.socialIcons }}
                <li>
                    <a href="{{ $item.url }}"><i class="{{ $item.icon }}"></i> {{ $item.title }}</a>
                    
                </li>
        {{ end }}
        </ul>
        </div>
        <div class="site-footer__col site-footer__col--links">
        <h5>Meta Links</h5>
        <ul>
            {{ with .Site.Menus.main }}
                {{ $navbar_len := len . }}
                {{ range $i, $nav_item := . }}
                    <li class="">
                        <a href="{{ $nav_item.URL }}"><i class="{{ $nav_item.Pre }}"></i> {{ $nav_item.Name }}</a>
                    </li>
                {{ end }}
            {{ end }}
        </ul>
        </div>
        <p class="site-footer__copyright">
        © 倾旋 2021. All rights reserved.
        </p>
    </div>
    </footer>

{{ if or .Page.Params.plantuml .Site.Params.plantuml }}
<!-- PlantUML -->
<script src="https://cdn.jsdelivr.net/gh/jmnote/plantuml-encoder@1.2.4/dist/plantuml-encoder.min.js" integrity="sha256-Qsk2KRBCN5qVZX7B+8+2IvQl1Aqc723qV1tBCQaVoqo=" crossorigin="anonymous"></script>
<script>
(function(){
  let plantumlPrefix = "language-plantuml";
  Array.prototype.forEach.call(document.querySelectorAll("[class^=" + plantumlPrefix + "]"), function(code){
    let image = document.createElement("IMG");
    image.loading = 'lazy'; // Lazy loading
    image.src = 'http://www.plantuml.com/plantuml/svg/~1' + plantumlEncoder.encode(code.innerText);
    code.parentNode.insertBefore(image, code);
    code.style.display = 'none';
  });
})();
</script>
{{ end }}
