
<input type="checkbox" id="menu-toggle" class="menu-toggle">
<label tabindex="0" for="menu-toggle" class="burger"><span></span> <span></span> <span></span><div class="burger-text">Menu</div></label>
<nav class="main-nav">
    
    <ul>
    {{ with .Site.Menus.main }}
        {{ $navbar_len := len . }}
        {{ range $i, $nav_item := . }}
            <li><a href="{{ $nav_item.URL }}">{{ $nav_item.Name }}</a></li>
        {{ end }}
    {{ end }}
    </ul>
   
</nav>
<nav><a href="/" class="all-posts-link">‹ All Posts</a></nav>