<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{{ if in .Site.Title .Title }}{{ .Title }}{{else}}{{ .Title }} « {{.Site.Title}}{{ end }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content='{{ .Site.Params.author }}'>

    <link rel="stylesheet" href="/css/Font-Awesome-5.15.3.all.min.css">

    {{ $style := resources.Get "sass/researcher.css" | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
    
    {{ with .Site.Params.favicon }}
        <link rel="icon" type="image/ico" href="{{ . | absURL }}">
    {{ end }}

    {{ with .OutputFormats.Get "rss" -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    {{ if not .Site.IsServer }}
        {{ template "_internal/google_analytics.html" . }}
    {{ end }}
</head>
