<!DOCTYPE html>
<html>
{{ partial "header.html" . }}

<body>
  {{ if and (gt .WordCount 400 ) (or (eq .Site.Params.toc "floating") (eq .Site.Params.toc "both") )}}
  <div class="container-wide wrapper">
    {{ partial "head.html" . }}

    {{ partial "content_floating_toc.html" . }}

    <div class="post">
      {{ partial "utterance.html" . }}
    </div>
  </div>
  {{ else }}
  <div class="container wrapper">
    {{ partial "head.html" . }}

    {{ partial "content_static.html" . }}
    <div class="post">
      <script src="https://giscus.app/client.js"
      data-repo="Rvn0xsy/rvn0xsy.github.io"
      data-repo-id="MDEwOlJlcG9zaXRvcnk0MDEyMzI3MTY="
      data-category="General"
      data-category-id="DIC_kwDOF-pTTM4CRDk_"
      data-mapping="title"
      data-strict="0"
      data-reactions-enabled="1"
      data-emit-metadata="0"
      data-input-position="bottom"
      data-theme="dark_tritanopia"
      data-lang="zh-CN"
      data-loading="lazy"
      crossorigin="anonymous"
      async>
    </script>
    </div>
  </div>
  {{ end }}

  {{ partial "footer.html" . }}
  {{ if and (gt .WordCount 400 ) (or (eq .Site.Params.toc "floating") (eq .Site.Params.toc "both") )}}
  {{ partial "toc_script.html" . }}
  {{ end }}
</body>



</html>
