{{ define "main" }}
<div class="container">
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
        <div class = "toc-wrapper">
            {{ partial "toc.html" . }}
        </div>
    {{ .Content }}
</div>
<div class="container">
    <script src="https://giscus.app/client.js"
    data-repo="Rvn0xsy/rvn0xsy.github.io"
    data-repo-id="MDEwOlJlcG9zaXRvcnk0MDEyMzI3MTY="
    data-category="General"
    data-category-id="DIC_kwDOF-pTTM4CRDk_"
    data-mapping="url"
    data-strict="0"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="dark_tritanopia"
    data-lang="zh-CN"
    data-loading="lazy"
    crossorigin="anonymous"
    async>
  </script>
</div>
<div class="container">
    {{ template "about.html" .}}
</div>
{{ end }}
