
<!DOCTYPE html>
<html>
    {{ partial "head.html" . }}
<body>

<div class="container">
    <h1>{{ .Site.Title }}</h1>
    {{ template "about.html" .}}
</div>

<div class="container">
    <section id="posts" class="posts">
        {{- $paginator := .Paginate (where (where .Site.RegularPages "Type" "post") ".Params.hiddenfromhomepage" "!=" true) }}
        {{- range first 10 $paginator.Pages -}}
          {{ .Render "summary" }}
        {{ end -}}
      </section>
  </div>
  <div class="container">
    <br>
  <p>
  {{ with $paginator.Prev -}}
  <span>
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"></path>
        </svg>
      <a class="prev" href="{{ .URL }}">
      PrevPage
      </a>
  </span>
{{- end }}
|
{{ with $paginator.Next -}}
<span>
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
  </svg>
  <a class="post-link" href="{{ .URL }}">
    <span class="">NextPage</span>
  </a>
  {{- end }}
  </p>
</div>

{{ partial "footer.html" . }}
</body>
</html>