<ul class="index_nav">
    {{ with .Site.Menus.main }}
        {{ $navbar_len := len . }}
        {{ range $i, $nav_item := . }}
            <li class="">
                <a href="{{ $nav_item.URL }}"><i class="{{ $nav_item.Pre }}"></i> {{ $nav_item.Name }}</a>
            </li>
        {{ end }}
    {{ end }}
</ul>

<script>
    if(~navigator.userAgent.indexOf('Mobile')){
       var nav_nodes = document.getElementsByClassName("index_nav");
       for(var i = 0;i<nav_nodes.length;i++){
            nav_nodes[i].style.display = "none";
       }
    }
</script>